@media (max-width: 2560px) {
  .post__header span,
  strong span {
    font-size: 2em;
    position: relative;
    right: -6em;
  }

  #home a,
  .rent a,
  .open,
  .subscribeBtn {
    font-size: 1.3em;
  }
  #menuToggle span {
    width: 51px;
    height: 9px;
  }

  .about p {
    text-align: left;
    color: #a98a74;
    padding: 5px 70px;
    font-size: xx-large;
    text-align: justify;
    font-weight: 400;
  }

  .about h3 {
    font-size: -webkit-xxx-large;
  }

  .heading h1 {
    color: #d8704a;
    font-weight: 400;
    font-size: 4em;
  }

  .singleService {
    border-style: solid;
    padding: 3em;
    box-sizing: border-box;
    margin: 2em;
  }

  .singleService h3 {
    font-size: 2.2em;
  }

  .singleService p {
    font-size: 2em;
  }

  .singleService img {
    width: 29%;
  }

  .flexing {
    display: flex;
    justify-content: center;
    padding-top: 3em;
  }

  footer .container {
    display: flex;
    justify-content: space-between;
    padding: 0 0;
  }
}

@media (max-width: 2000px) {
  .post__header span,
  strong span {
    font-size: 1em;
    position: relative;
    right: -6em;
  }
  #home a,
  .rent a,
  .open,
  .subscribeBtn {
    font-size: 0.8em;
  }
  #menuToggle span {
    width: 30px;
    height: 5px;
  }

  .about p {
    text-align: left;
    color: #a98a74;
    padding: 5px 70px;
    font-size: x-large;
    text-align: justify;
    font-weight: 400;
  }

  .about h3 {
    font-size: xx-large;
  }

  .heading h1 {
    color: #d8704a;
    font-weight: 400;
    font-size: 2em;
  }

  .singleService {
    border-style: solid;
    padding: 3em;
    box-sizing: border-box;
    margin: 2em;
  }

  .singleService h3 {
    font-size: 1.7em;
  }

  .singleService p {
    font-size: 1.2em;
  }

  .singleService img {
    width: 40%;
  }

  .flexing {
    display: flex;
    justify-content: center;
    padding-top: 7em;
  }

  .flip-card-container {
    width: 100%;
    perspective: 1000px;
    display: table;
    margin: 0;
    max-width: none;
    height: 45vh;
  }

  footer .containerEn {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 1024px) {
  .post__header span,
  strong span {
    font-size: 1em;
    position: relative;
    right: -1em;
  }
}
